


<nav class="navbar is-transparent">
  <div class="navbar-brand">
    <a class="navbar-item">
      <img src="assets/images/logo_web.png" alt="Cuffy's" width="107" height='256' style="max-height: none!important;"  >
    </a>
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample" (click)="toggleCollapse()">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>


  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      
   
          <a class="navbar-item" routerLink="/events">
      Events
    </a>
         <a class="navbar-item" routerLink="/locations">
     Locations
    </a>
             <a class="navbar-item" routerLink="/products">
     Products
    </a>
    
    
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">

          <p class="control">
            <user-profile></user-profile>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>




