<form [formGroup]="myForm" (ngSubmit)="uploadSingle()">


<!-- ITEM TITLE -->
<div class="field">
  <label class="label">Item Title</label>
  <div class="control">
<input formControlName="name" placeholder="Name of Item" class="input">
  </div>
</div>

<!-- ITEM CAT -->
<div class="field">
  <label class="label">Category</label>
<div class="select">
  <select formControlName="category">
    <option value="womens">Womens</option>
    <option value="mens">Mens</option>
    <option value="misc" selected="selected">Misc</option>
  </select>
</div>
</div>


<!-- ITEM DESCRIPTION -->
<div class="field">
  <label class="label">Item Description</label>
  <div class="control">
    <textarea formControlName="description" class="textarea" placeholder="Describe Event"></textarea>
  </div>
</div>



<div class="field has-addons">
  <div class="control has-icons-left" style="width:100%">

      <input #tag formControlName="tags" 
  placeholder="Hit The Space Bar To Add Tag"
   class="input"
  (keydown.space)="addTag(tag.value)"
   >

    <span class="icon is-small is-left">
      <i class="fa fa-tag"></i>
    </span>
  </div>

   

  <div class="control">
    <a class="button is-primary" style="color:white" (click)='addTag(tag.value)'>
      <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add
    </a>
  </div>
</div>

  <ul>

    <!-- Tag displays -->
    <li *ngFor="let tag of tagArr" style="padding-bottom:5px;">
    <div class="tags has-addons">
  <span class="tag is-danger"> {{tag}}</span>
  <a class="tag is-delete" (click)="removeTag(tag)"></a>
</div>
  </li>

  </ul>




<!-- FILE UPLOAD -->

<div class="field">
  <label class="label">Event Image</label>
  <div class="control">


<div class="file has-name">
  <label class="file-label">
    <input class="file-input" type="file" name="resume" (change)="detectFiles($event)" >
    <span class="file-cta">
      <span class="file-icon">
        <i class="fa fa-upload"></i>
      </span>
      <span class="file-label">
        Choose a file…
      </span>
    </span>
    <span class="file-name">
      {{imageUrl}}
    </span>
  </label>
</div>


  </div>
</div>




<button class="button is-success"  [disabled]="!myForm.valid" >
  <span *ngIf="!isUpdate">Add Item</span>
  <span *ngIf="isUpdate">Update Item</span>
</button>
</form>