
  <div *ngIf="auth.user | async; then authenticated else guest">
          <!-- template will replace this div -->
  </div>


<!-- User NOT logged in -->
<ng-template #guest>

  <button class="button" routerLink="/login">Login</button>
</ng-template>

<!-- User logged in -->
<ng-template #authenticated>
   <!--  <button class="button" (click)="logout()">Logout</button> -->

       <div class="navbar-item has-dropdown is-hoverable" style="padding-right: 30px;">
       <a class="navbar-link" [routerLink]="['/account']">
          <i class="material-icons">account_box</i>
      </a>
        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item" [routerLink]="['/account']">
            Your Account
          </a>
          <a class="navbar-item" [routerLink]="['/account/settings']">
            Account Settings
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item" (click)="logout()">
            Logout
          </a>
   
        </div>
      </div>
</ng-template>
