<!-- ITEMS  -->
<h1 class="subtitle is-3">Your Favorite Items!</h1>
<hr/>


<div class="columns" *ngIf="itemsArray">
  <div class="column is-4 is-multiline" *ngFor="let item of itemsArray">



<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      {{item.name}}
    </p>
  
  <span class="card-header-icon" >
     <heart [userId]='userId' [itemId]='item.itemId'></heart>
</span>

  </header>
  <div class="card-content">
    <div class="media-left">
        <figure class="image is-4x3">
          <img [src]="item.imageUrl" height="100px" width="auto">
        </figure>
      </div>

    <div class="content">
         {{item.description}}
       
      <br>
      <br>
  <br/><br/>

    </div>
  </div>
  <footer class="card-footer">
   
  </footer>
</div>



  </div>
</div>


<!-- EVENTS -->


<br/>
<br/>
<h1 class="subtitle is-3">Events you are attending!</h1>
<hr/>

<div class="columns" *ngIf="eventsArray">
  <div class="column is-4 is-multiline" *ngFor="let item of eventsArray">



<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      {{item.name}}
    </p>

  </header>
  <div class="card-content">
    <div class="media-left">
        <figure class="image is-4x3">
          <img [src]="item.imageUrl" height="100px" width="auto">
        </figure>
      </div>

    <div class="content">
         {{item.description}}
       
      <br>
      <br>
      <time datetime="2016-1-1"><strong>{{item.date}}</strong></time>
  <br/><br/>
  <div class="level">
    <div class="level-item">
     <rsvp [eventId]="item.eventId" [userId]="userId"></rsvp> 
     </div>
     </div>
    </div>
  </div>
  <footer class="card-footer">
   
  </footer>
</div>



  </div>
</div>






