<div class="title">Our Products</div>


<div class="tabs">
  <ul>
    <li [ngClass]="{'is-active': activeCat=='mens'}"><a (click)="changeCat('mens')">Mens</a></li>
    <li [ngClass]="{'is-active': activeCat=='womens'}"><a (click)="changeCat('womens')">Womens</a></li>
    <li [ngClass]="{'is-active': activeCat=='misc'}"><a (click)="changeCat('misc')">Misc</a></li>
  </ul>
</div>


<div class="columns is-multiline">

<div class="column is-4"  *ngFor="let item of items | async">


<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      {{item.name}} 

    </p>

    <span class="card-header-icon" *ngIf="user" >
   <heart [userId]='user.uid' [itemId]='item.id'></heart>
</span>

  </header>
  <div class="card-content">
    <div class="media-left">
        <figure class="image is-4x3">
          <img [src]="item.imageUrl" height="100px" width="auto">
        </figure>
      </div>

    <div class="content">
         {{item.description}}
       
      <br>
      <br>
  <br/><br/>

    </div>
  </div>
  <footer class="card-footer">
   
  </footer>
</div>






  </div>
  

</div>

